# Ignore CSS files
*.css linguist-vendored
static/*.css linguist-vendored

# Ignore JS files
*.js linguist-vendored
static/*.js linguist-vendored

# Ignore HTML templates (Flask frontend)
*.html linguist-vendored
templates/*.html linguist-vendored

# Keep Python files counted normally
*.py linguist-language=Python

# Ignore images
*.png linguist-vendored
*.jpg linguist-vendored
*.gif linguist-vendored
static/images/* linguist-vendored