<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Cracker</title>
    <!-- Tailwind CSS CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div
      class="bg-gradient-to-r from-gray-900 to-gray-600 p-8 rounded-lg shadow-lg w-full max-w-md flex flex-col gap-3"
    >
      <h1
        class="text-4xl font-bold mb-4 tracking-widest text-green-500 text-center"
      >
        Password Cracker
      </h1>
      <form
        id="crack-form"
        class="space-y-4 flex flex-col gap-5"
        autocomplete="off"
      >
        <div>
          <label
            for="password"
            class="block text-lg font-medium text-white tracking-widest my-4"
            >Password</label
          >
          <input
            type="password"
            id="password"
            name="password"
            required
            autocomplete="off"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
          />
        </div>
        <div class="my-4">
          <label
            for="method"
            class="block text-lg font-medium text-white tracking-widest my-4"
            >Method</label
          >
          <select
            id="method"
            name="method"
            required
            autocomplete="off"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
          >
            <option value="method1" class="tracking-widest">Method 1</option>
            <option value="method2" class="tracking-widest">Method 2</option>
          </select>
        </div>
        <button
          type="submit"
          class="w-full px-4 py-2 bg-green-500 text-white font-bold rounded-md hover:bg-red-600 text-xl tracking-widest"
        >
          Crack Password
        </button>
      </form>
      <div id="result" class="mt-4"></div>
      <div id="countdown" class="mt-4 text-white text-lg"></div>
    </div>
    <script>
      const refreshInterval = 15000; // 15 seconds
      let countdownTimer;
      let countdownActive = false;

      function updateCountdown(seconds) {
        document.getElementById(
          "countdown"
        ).textContent = `Enter new password in: ${seconds} seconds`;
      }

      function startCountdown() {
        let remaining = refreshInterval / 1000;
        updateCountdown(remaining);

        countdownTimer = setInterval(() => {
          remaining--;
          if (remaining <= 0) {
            clearInterval(countdownTimer);
            document.getElementById("countdown").textContent = "Refreshing...";
            location.reload(); // Refresh the page
          } else {
            updateCountdown(remaining);
          }
        }, 1000);
      }

      async function submitForm() {
        const form = document.getElementById("crack-form");
        const password = document.getElementById("password").value;
        const method = document.getElementById("method").value;

        try {
          const response = await fetch("/crack-password/", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ password, method }),
          });
          const data = await response.json();

          const resultDiv = document.getElementById("result");
          if (data.cracked_password) {
            resultDiv.innerHTML = `<p>Password: ${data.cracked_password}</p><p>Duration: ${data.duration} seconds</p>`;
          } else {
            resultDiv.innerHTML = `<p>Error: ${data.message}</p>`;
          }

          if (!countdownActive) {
            startCountdown();
            countdownActive = true;
          }
        } catch (error) {
          console.error("Error:", error);
        }
      }

      document
        .getElementById("crack-form")
        .addEventListener("submit", function (e) {
          e.preventDefault();
          submitForm();
        });
    </script>
  </body>
</html>
